MLP/data
MLP/confusion_matrix_with_totals.png
MLP/model_params.hpp
MLP_quantized/data
MLP_quantized/confusion_matrix_with_totals.png
MLP_quantized/model_params.hpp
MLP_quantized/minmax_scaler.pkl
inference/model.pth
inference/*.csv
venv
.vscode
