inference/model.pth
inference/*.csv
MLP_quantized/data
MLP_quantized/models
MLP_quantized/confusion_matrix_with_totals.png
MLP_quantized/minmax_scaler.pkl
MNIST/data
MNIST/models
MNIST/confusion_matrix_with_totals.png
venv
.vscode
